@model aspnetapp.Models.Mongo.ProductCollection

@{
    ViewBag.Title = "My Product Collection";
}

<h2>@ViewBag.Title</h2>

@{
    var productCount = @Model.Count();
}

<p>
    There are @productCount products in the database.
</p>

<table border="1" cellpadding="10">
    <tr>
        <th></th>
        <th>Brand</th>
        <th>Model</th>
        <th>Model #</th>
        <th>Price</th>
        <th>Purchase Date</th>
        <th>Serial #</th>
        <th>Warranty (Yrs)</th>
        <th>Description</th>
    </tr>
    @{ var index = 1; }
    @foreach(var product in @Model.Products)
    {
      <tr>
          <td>@index</td>
          <td>@product.Brand</td>
          <td>@product.Model</td>
          <td>@product.ModelNumber</td>
          <td>
                @{
                    var retailPrice = product.Price != 0 ? product.Price.ToString("F") : string.Empty;
                    var purchasePrice = product.PurchasePrice != 0 ? product.PurchasePrice.ToString("F") : string.Empty;
                    var price = string.Empty;
                    if (!string.IsNullOrEmpty(retailPrice) && !string.IsNullOrEmpty(purchasePrice))
                        price = $"${retailPrice}/${purchasePrice}";
                    else if (!string.IsNullOrEmpty(retailPrice))
                        price = $"${retailPrice}";
                    else if (!string.IsNullOrEmpty(purchasePrice))
                        price = $"${purchasePrice}";
                }
                @price
          </td>
          <td>
                @{
                    var purchaseDate = product.PurchaseDate.HasValue
                        ? product.PurchaseDate.Value.ToString("d")
                        : string.Empty;
                }
            @purchaseDate
          </td>
          <td>@product.SerialNumber</td>
          <td>@product.Warranty</td>
          <td>@product.Description</td>
        </tr>
        index++;
    }
</table>
